---
import Layout from "../layouts/Layout.astro";
import PapersTable from "../components/PapersTable.astro";
import YearLinks from "../components/YearLinks.astro";
import { papersStore } from "../shared/stores";
import { getRelevantYear, getAllAvailableYears } from "../shared/utils";

const { year } = Astro.params;

export async function getStaticPaths() {
  const yearsArray = await getAllAvailableYears();
  return yearsArray.map((year) => ({
    params: { year },
  }));
}

let papers = await papersStore.getAllPapers();
papers = papers.filter((paper) => getRelevantYear(paper) === year);

const allYears = await getAllAvailableYears();
---

<Layout>
  <div class="container">
    <h1 class="page-header">Aktualisierte Vorlagen aus dem Jahr {year}</h1>

    <YearLinks allYears={allYears} currentYear={year} />

    <div class="content-section" data-pagefind-ignore>
      <PapersTable papers={papers} />
    </div>

    <YearLinks allYears={allYears} currentYear={year} />
  </div>
</Layout>
