---
import Layout from "../layouts/Layout.astro";
import PapersTable from "../components/PapersTable.astro";
import YearLinks from "../components/YearLinks.astro";
import {
  loadPapers,
  getAllAvailableYears,
  getRelevantYear,
} from "../shared/data";

export async function getStaticPaths() {
  const allYears = await getAllAvailableYears();

  return allYears.map((year) => ({
    params: { year },
  }));
}

const { year } = Astro.params;
const [allPapers, allYears] = await Promise.all([
  loadPapers(),
  getAllAvailableYears(),
]);
const papers = allPapers.filter((p) => getRelevantYear(p) === year);
---

<Layout>
  <div class="container">
    <h1 class="page-header">Aktualisierte Vorlagen aus dem Jahr {year}</h1>

    <YearLinks allYears={allYears} currentYear={year} />

    <div class="content-section" data-pagefind-ignore>
      <PapersTable papers={papers} />
    </div>

    <YearLinks allYears={allYears} currentYear={year} />
  </div>
</Layout>
