---
import type { Organization, Paper } from "../shared/types";
import { formatDateShort } from "../shared/utils";

interface Props {
  paper: Paper;
  organizations: Organization[];
}

const { paper, organizations } = Astro.props;

const pagefindSortAtt = `date:${new Date(paper.date).toISOString()}`;
---

<section class="info">
  <table>
    <tbody>
      <tr>
        <th>Vorlage:</th>
        <td>{paper.reference}</td>
      </tr>
      <tr>
        <th>Art:</th>
        <td>{paper.paperType}</td>
      </tr>
      <tr>
        <th>Datum:</th>
        <td data-pagefind-sort={pagefindSortAtt}
          >{formatDateShort(paper.date)}</td
        >
      </tr>
      <tr>
        <th>Letzte Änderung:</th>
        <td>{formatDateShort(paper.modified)}</td>
      </tr>
      <tr>
        <th>Unter Leitung von:</th>
        <td
          >{
            organizations?.map((item) => item?.name).join(", ") ||
              "Keine Angaben"
          }</td
        >
      </tr>
    </tbody>
  </table>
</section>

<style>
  .info {
    margin-top: 20px;
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
  }

  table th {
    text-align: right;
    padding-right: 10px; /* Optional - adds space between the aligned text and the td */
  }
</style>
