---
import type { Paper } from "../shared/types/paper";

interface Props {
  papers: Paper[];
}

const { papers = [] } = Astro.props;

const formatDate = (dateString: string | undefined): string => {
  if (!dateString) return "";
  const date = new Date(dateString);
  return new Intl.DateTimeFormat("de-DE", {
    day: "2-digit",
    month: "2-digit",
    year: "numeric",
  }).format(date);
};
---

{
  papers.length > 0 ? (
    <table>
      <thead>
        <tr>
          <th>Aktenzeichen</th>
          <th>Titel</th>
          <th style="width: fit-content;">Letzte Änderung</th>
          <th>Art</th>
        </tr>
      </thead>
      <tbody>
        {papers.map((paper) => (
          <tr
            class="clickable"
            id={paper.internalReference}
            style="cursor: pointer;"
          >
            <td>{paper.reference}</td>
            <td>{paper.name}</td>
            <td>{formatDate(paper.modified)}</td>
            <td>{paper.paperType}</td>
          </tr>
        ))}
      </tbody>
    </table>
  ) : (
    <p>Loading data or no papers available...</p>
  )
}

<style>
  table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    color: #222;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }

  thead {
    background-color: #f1f3f4;
  }

  thead th {
    text-align: left;
    padding: 15px;
    font-weight: bold;
    color: #000;
    border-bottom: 2px solid #ddd;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.95rem;
  }

  tbody tr:nth-child(odd) {
    background-color: #fdfdfd;
  }

  tbody tr:nth-child(even) {
    background-color: #fff;
  }

  tbody tr:hover {
    background-color: #e9ecef;
    transition: background-color 0.2s ease;
  }

  td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    color: #222;
    font-size: 0.95rem;
  }

  th,
  td {
    border-right: 1px solid #eee;
  }

  th:last-child,
  td:last-child {
    border-right: none;
  }

  p {
    color: #444;
    font-style: italic;
    margin: 20px 0;
    text-align: center;
  }
</style>

<script>
  const buttons = document.querySelectorAll("tr.clickable");

  buttons.forEach((button) => {
    button.addEventListener("click", (event: Event) => {
      const parent = (event.target as HTMLElement)
        ?.parentElement as HTMLElement;

      window.location.href = `vorlage/${parent.id}`;
    });
  });
</script>
